.movies__not-found {
  margin: 0;
  padding: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -0.88px;
}

.movies__list {
  margin: 0;
  padding: 70px 70px 30px 70px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 32px;
  list-style-type: none;
}

@media (max-width: 900px) {
  .movies__list {
    padding: 70px 30px 30px 30px;
    column-gap: 30px;
    row-gap: 36px;
  }
}

@media (max-width: 690px) {
  .movies__list {
    padding: 40px 10px 30px 10px;
    justify-content: center;
    column-gap: 10px;
    row-gap: 20px;
  }
  .movies__not-found {
    font-size: 18px;
    letter-spacing: -0.72px;
  }
}
