.profile {
  padding: 75px 0 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__title {
  margin: 0 0 125px 0;
  font-size: 24px;
  font-weight: 500;
}
.profile__form {
  max-width: 410px;
  width: 100%;
}
.profile__label {
  padding: 0 0 16px 0;
  margin: 0 0 18px 0;
  display: flex;
  border-bottom: 1px solid var(--border-color);
}
.profile__label:last-child {
  padding: 0;
  margin: 0 0 222px 0;
  border-bottom: none;
}
.profile__input-name {
  min-width: 140px;
  height: 14px;
  font-size: 11px;
  font-weight: 500;
}
.profile__input {
  padding: 0;
  width: 100%;
  border: none;
  text-align: right;
  font-size: 11px;
  font-weight: 400;
}
.profile__submit-button {
  padding: 0;
  margin: 0 0 16px 0;
  width: 100%;
  display: block;
  border: none;
  font-size: 13px;
  font-weight: 400;
  background-color: var(--bg-main-color);
  cursor: pointer;
  transition: var(--transition);
}
.profile__submit-button:hover {
  opacity: var(--opacity-button);
}
.profile__logout-button {
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
  border: none;
  font-size: 13px;
  font-weight: 500;
  color: var(--error-color);
  background-color: var(--bg-main-color);
  cursor: pointer;
  transition: var(--transition);
}
.profile__logout-button:hover {
  opacity: var(--opacity-button);
}
@media (max-width: 900px) {
  .profile {
    padding: 236px 0 269px 0;
  }
  .profile__title {
    margin: 0 0 96px 0;
  }
  .profile__label:last-child {
    margin: 0 0 210px 0;
  }
}
