.profile {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.profile__main {
  padding: 75px 0 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
}
.profile__title {
  margin: 0 0 125px 0;
  font-size: 24px;
  font-weight: 500;
}
.profile__form {
  max-width: 410px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.profile__label {
  margin: 0 0 10px 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--border-color);
}
.profile__label:last-child {
  padding: 0;
  margin: 0 0 100px 0;
  border-bottom: none;
}
.profile__input-name {
  padding: 4px;
  min-width: 140px;
  height: 14px;
  font-size: 11px;
  font-weight: 500;
}
.profile__input-block {
  display: flex;
}
.profile__input {
  padding: 4px;
  width: 100%;
  border: none;
  text-align: right;
  font-size: 11px;
  font-weight: 400;
}
.profile__input:focus {
  outline: none;
  border: 1px solid var(--border-color);
}
.profile__input_error {
  color: var(--error-color);
}
.profile__error-message {
  min-height: 16px;
  display: block;
  font-size: 10px;
  font-weight: 400;
  color: var(--error-color);
}
.profile__buttons {
  margin-top: auto;
  text-align: center;
}
.profile__submit-button {
  padding: 0;
  margin: 0 0 16px 0;
  width: 100%;
  display: block;
  border: none;
  font-size: 13px;
  font-weight: 400;
  background-color: var(--bg-main-color);
  cursor: pointer;
  transition: var(--transition);
}
.profile__submit-button:hover {
  opacity: var(--opacity-button);
}
.profile__submit-button_disabled {
  color: #c2c2c2;
  cursor: default;
}
.profile__logout-button {
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  color: var(--error-color);
  background-color: var(--bg-main-color);
  cursor: pointer;
  transition: var(--transition);
}
.profile__logout-button:hover {
  opacity: var(--opacity-button);
}
@media (max-width: 900px) {
  .profile__main {
    padding: 236px 0 269px 0;
  }
  .profile__title {
    margin: 0 0 96px 0;
  }
}
@media (max-width: 560px) {
  .profile__main {
    padding: 70px 0 40px 0;
  }
  .profile__form {
    max-width: 260px;
    width: 100%;
  }
  .profile__title {
    margin: 0 0 80px 0;
  }
  .profile__submit-button {
    font-size: 12px;
  }
  .profile__logout-button {
    font-size: 12px;
  }
}
