.not-found {
  margin: 0 auto;
  padding: 246px 0 60px;
  max-width: 400px;
  text-align: center;
}
.not-found__title {
  margin: 0 0 10px 0;
  font-size: 140px;
  font-weight: 400;
}
.not-found__text {
  margin: 0 0 184px;
  font-size: 16px;
  font-weight: 400;
}
.not-found__button {
  padding: 0;
  border: none;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--main-bg-color);
}
