.header {
  margin: 0 auto;
  padding: 17px 70px;
  height: 74px;
  max-width: 1280px;
  box-sizing: border-box;
  background-color: var(--bg-hero-color);
}
.header_white {
  background-color: var(--main-bg-color);
}
@media (max-width: 900px) {
  .header {
    padding: 17px 30px;
  }
}
