.nav-promo {
  display: flex;
  align-items: center;
}
.nav-promo__link {
  margin: 0 30px 0 0;
  color: var(--main-color);
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: var(--transition);
}
.nav-promo__link:hover {
  opacity: var(--opacity-link);
}
.nav-promo__button {
  padding: 8px 20px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  border-radius: 3px;
  color: var(--bg-main-color);
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
  transition: var(--transition);
}
.nav-promo__button:hover {
  opacity: var(--opacity-button);
}
