.card {
  border-radius: 8px;
  background-color: #fdfdfd;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
}

.card__image {
  margin: 0 0 15px 0;
  width: 270px;
  height: 151px;
  display: block;
}
.card__description {
  margin: 0 0 14px 0;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
}
.card__name {
  width: 206px;
  margin: 0 0 10px 0;
  font-size: 13px;
  font-weight: 500;
}
.card__duration {
  margin: 0;
  font-size: 11px;
  font-weight: 400;
  color: var(--text-gray-color);
}
.card__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  background: url('../../../images/favorite-checkbox.svg') no-repeat;
  background-position: 50% 30%;
  border-radius: 50%;
  transition: var(--transition);
  cursor: pointer;
}
.card__checkbox:checked {
  background: url('../../../images/favorite-checkbox-active.svg') no-repeat;
  background-position: 50% 30%;
}
.card__delete-btn {
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
  background: url('../../../images/delete-btn.svg') no-repeat;
  cursor: pointer;
}
