.register {
  margin: 0 auto;
  padding: 70px 0;
  max-width: 396px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.register__main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.register__form {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.register__inputs {
  margin: 0 0 69px 0;
}
@media (max-width: 900px) {
  .register {
    padding: 232px 0;
  }
}
@media (max-width: 560px) {
  .register {
    padding: 56px 0 30px 0;
    max-width: 260px;
  }
}
