.promo {
  padding: 75px 70px;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-hero-color);
}

.promo__description {
  max-width: 640px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.promo__text {
  margin: 0 0 146px 0;
  max-width: 310px;
  font-weight: 400;
  font-size: 13px;
}
.promo__button {
  padding: 10px 20px;
  background-color: var(--bg-hero-color);
  border: var(--main-color) solid 1px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
}
.promo__img-wrap {
  width: 310px;
}
.promo__img {
  width: 100%;
  padding-top: 98.065%;
  background: url(../../../images/promo-img.svg) center / cover no-repeat;
}
