.about-me {
  padding: 110px 70px 100px;
}
.about-me__content {
  padding: 66px 0 0 0;
  display: flex;
  justify-content: space-between;
}
.about-me__description {
  max-width: 599px;
  padding: 18px 0 0 0;
}
.about-me__title {
  margin: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
}
.about-me__subtitle {
  margin: 0 0 26px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}
.about-me__text {
  margin: 0 0 99px 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.about-me__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--main-color);
}

.about-me__avatar {
  max-width: 270px;
  max-height: 327px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
